PORT=3000
JWT_SECRET=your-secret-key-webmonitoring-2026
ESP32_IP=192.168.100.101  # Ganti dengan IP ESP32 dari serial monitor

# MySQL Database (install XAMPP/MariaDB)
DB_HOST=localhost
DB_PORT=3306
DB_USER=root
DB_PASS=  # kosongkan jika no password
DB_NAME=psti
